.App h1 {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.hide {
  display:none;
}

.offscreen {
  position: absolute;
  left: 15000px;
}
#root {
  margin: 5px;
}
#header {  
  border: 1px solid lavender;
}
#wrapper {
  display: flex;
  flex-direction: row;
  
}

#nav {
  flex-grow: 1;
}
#nav li 
{
  text-align: left;
  list-style-type: none;
}

#content {
  flex-grow: 5;
  border: 1px solid blue;
}


.dialog_form {
  display: flex;
}
.dialog_form label {
  display: block;
}

#search {
  display: flex;
  border: 1px solid blue;
}

.controls {
  display: flex;
}

.controls label {
  padding-top:16px;
  display:inline-block;
}

.MuiDialog-container.MuiDialog-scrollPaper {
  border: 2px solid blue;
}